.lists-title {
  display: flex;
  justify-content: space-between;
}

.lists-card {
  position: relative;

  img{
    width: 100%;
    height: auto;
    object-fit: fill;
    border-radius: 5px;
    position: relative;
  }

  h3{
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
